<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>网仓3号-系统登录</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- bootstrap/jquery/adminLTE  -->
<link  href="../public/adminLte/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" />
<link  href="../public/adminLte/dist/css/AdminLTE.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../public/adminLte/plugins/jQuery/jQuery-2.2.0.min.js"></script> 
<script type="text/javascript" src="../public/adminLte/bootstrap/js/bootstrap.min.js"></script> 
<link  href="../public/adminLte/dist/css/login.css" type="text/css" rel="stylesheet" />

<!-- 轮播图效果  -->
<script type="text/javascript" src="../public/adminLte/plugins/flexslider/switch.js"></script> 
<script type="text/javascript" src="../public/adminLte/plugins/flexslider/jquery.SuperSlide.2.1.1.js"></script>
<!-- validate  -->
<script type="text/javascript" src="../public/adminLte/plugins/validate/jquery-validate.min.js"></script> 
<!-- cookie  -->
<script type="text/javascript" src="../public/adminLte/dist/js/jquery-cookie.js"></script> 

<!-- 页面专用JS  -->
<script type="text/javascript" src="../public/user/login.js"></script>
</head>


<body class="hold-transition login-page">
<!-- header-main -->
<header>
    <div></div>
</header>
<!-- header-end -->

<!-- login-main -->
<div class="login-main">
    <!-- 代码begin -->
   <div id="slideBox" class="slideBox">
	<div class="hd">
		<ul><li></li><li></li><li></li></ul>
	</div>
	<div class="bd">
	  <ul>
		<li class="banner1" style="background: url(../public/adminLte/dist/images/banner_1_bg.jpg) center 0px no-repeat #0EAD51; ">
		  <div class="content1">
			<div id="a3">多重保障,扫码登录<span>更安全</span></div>
			<div id="a4"></div>
			<div id="a5"></div>
		  </div>
		</li>
		<li class="banner1" style="background:#0ab794 "><!-- url(../public/adminLte/dist/images/banner4.png) center 0px no-repeat; -->
		  <div class="content1">
			<div id="a8"></div>
			<div id="a9"></div>
			<div id="a6"></div>
			<div id="a7">大服务，贴心护航</div>
			<div id="a10">
				<span>全程服务</span>
				<span>个性化柔性服务</span>
				<span>免费升级服务</span>
				<span>持续服务，对结果负责</span>
				<span>实时服务</span>
			</div>
		  </div>
		</li>
		<li class="banner1" style="background: url(../public/adminLte/dist/images/banner_3_bg.jpg) center 0px no-repeat #ff591f;">
		  <div class="content1">
			<div class="b2_word">
				<var id="a21"></var><span id="a23"></span><var id="a22"></var>
			</div>
			<div id="a24">因为专业,所以信赖</div>
		  </div>
		</li>
	  </ul>    
	</div>
</div>
<!-- 代码end -->
<!-- login-main -->
<form id="login-form" method="get" action="">
<aside>
	<div class="login-iscs">
    <ul class="login-user">
		<h2>
			<span class="login-user-qrcode cursor"></span>
			<span class="login-user-tip"></span>
			账号登录
		</h2>
		<div class="login-user-err">
			<div class="login-user-err-main">
				<span class="login-user-err-icon"></span>
				<span class="login-user-err-text">您的密码错误</span>
			</div>
			<div class="login-user-tip-main">
				<span class="login-user-tip-icon"></span>
				<span class="login-user-tip-text">您的可安全登录</span>
			</div>
		</div>
		<div class="login-user-username">
			<input type="text" name="username" placeholder="您的账号"   /><!-- required -->
		</div>
		<div class="login-user-password">
			<input type="password" name="password" placeholder="您的密码"  />
		</div>
		<div class="login-pwd-forget">
			<a href="#" target="_blank">忘记登录密码？</a>
			<div class="login-checkbox cursor"><span class=""></span>记住账号</div>
		</div>
		<div id="login-submit" class="login-user-submit cursor">
			登录
		</div>
		<div class="login-taobao">
			<a href="#"><span></span>淘宝登录</a>
		</div>
	</ul>
	<!-- 二维码 -->
	<ul class="login-qrcode">
		<h2>
			<span class="login-qrcode-pc cursor"></span>
			<span class="login-qrcode-tip"></span>
			手机扫码安全登录
		</h2>
		<div class="login-qrcode-img">
			<div class="qrcode-img" style="background:url(../public/adminLte/dist/images/qrcode_img.jpg) no-repeat"></div>
		</div>
		<div class="login-qrcode-text">
			请打开<span>移动网仓</span>扫一扫登录
		</div>
		<div class="login-qrcode-mask">
			<span class="cursor"></span>
            <div>二维码已失效，请点击刷新</div>
		</div>
	</ul>
	</div>
</aside>
</form>
</div><!-- main end-->

<!-- footer-main -->
<footer>
    <div>
		Copyright©2010-2016 浙江网仓科技有限公司 版权所有 浙ICP备11042498-1号 
	</div>
</footer>
<!-- footer-end -->

<script type="text/javascript">
$(window).resize(function() { 
    var winwidth = $("body").width();
    $("#slideBox .bd ul").css("width",winwidth);
    $("#slideBox .bd ul li").css("width",winwidth);
});
// 轮播插件
$(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,interTime:5000,
 startFun:function(i,c){
   del();
    switch(i){
      case 0:
        $("#a3").addClass('animation3');
        $("#a4").addClass('animation4');
        $("#a5").addClass('animation5');
        break;
      case 1:
        $("#a8").addClass('animation8');
        $("#a9").addClass('animation9');
        $("#a6").addClass('animation6');
        $("#a7").addClass('animation7');
        $("#a10").addClass('animation10');
        break;
      case 2:
        $(".b2_word #a21").addClass('animation21');
        $(".b2_word #a22").addClass('animation21');
        $(".b2_word #a23").addClass('animation20');
        $(".content1 #a24").addClass('animation22');
        break;
      default:break;
   }
 }
});
</script>


</body>
</html>