
<!-- page script -->
<script>
  $(function () {
      //页面表格宽展--新增弹出层的表控件
  var dtSetting = $.dataTableSetting({
      "scrollY": 300,
      "scrollX": true,
      "ajax": '/base/getEmployeeListData'

  });
  //页面表格宽展--新增弹出层的表控件
  $('#examplesd').DataTable(dtSetting);
    
  });
</script>
<div style="width:500px; margin:0 auto;">
<table id="examplesd" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>姓名</th>
            <th>职位</th>
            <th>城市</th>
            <th>Extn.</th>
            <th>入职日期</th>
            <th>薪水</th>
        </tr>
    </thead>
</table>
</div>